               data storage and retieval system 
tokenization 


stop words  


Constructing Auxiliary structure(s)   

 
phrase query  


tf 


idf 


tf-idf matrix  



similarity between query and each document

In [ ]:
import pandas as pd
import numpy as np
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
from nltk.stem.porter import PorterStemmer  
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import * 
import re
import os 
import string 
from string import punctuation

In [ ]:
#function to clean text 
def text_to_wordlist(text, remove_stop_words=True, stem_words=False):
    # Clean the text, with the option to remove stop_words and to stem words.

    # Clean the text
    text = re.sub(r"[^A-Za-z0-9]", " ", text)
    text = re.sub(r"what's", "", text)
    text = re.sub(r"What's", "", text)
    text = re.sub(r"\'s", " ", text)
    text = re.sub(r"\'ve", " have ", text)
    text = re.sub(r"can't", "cannot ", text)
    text = re.sub(r"n't", " not ", text)
    text = re.sub(r"I'm", "I am", text)
    text = re.sub(r" m ", " am ", text)
    text = re.sub(r"\'re", " are ", text)
    text = re.sub(r"\'d", " would ", text)
    text = re.sub(r"\'ll", " will ", text)
    text = re.sub(r"60k", " 60000 ", text)
    text = re.sub(r" e g ", " eg ", text)
    text = re.sub(r" b g ", " bg ", text)
    text = re.sub(r"\0s", "0", text)
    text = re.sub(r" 9 11 ", "911", text)
    text = re.sub(r"e-mail", "email", text)
    text = re.sub(r"\s{2,}", " ", text)
    text = re.sub(r"quikly", "quickly", text)
    text = re.sub(r" usa ", " America ", text)
    text = re.sub(r" USA ", " America ", text)
    text = re.sub(r" u s ", " America ", text)
    text = re.sub(r" uk ", " England ", text)
    text = re.sub(r" UK ", " England ", text)
    text = re.sub(r"india", "India", text)
    text = re.sub(r"switzerland", "Switzerland", text)
    text = re.sub(r"china", "China", text)
    text = re.sub(r"chinese", "Chinese", text) 
    text = re.sub(r"imrovement", "improvement", text)
    text = re.sub(r"intially", "initially", text)
    text = re.sub(r"quora", "Quora", text)
    text = re.sub(r" dms ", "direct messages ", text)  
    text = re.sub(r"demonitization", "demonetization", text) 
    text = re.sub(r"actived", "active", text)
    text = re.sub(r"kms", " kilometers ", text)
    text = re.sub(r"KMs", " kilometers ", text)
    text = re.sub(r" cs ", " computer science ", text) 
    text = re.sub(r" upvotes ", " up votes ", text)
    text = re.sub(r" iPhone ", " phone ", text)
    text = re.sub(r"\0rs ", " rs ", text) 
    text = re.sub(r"calender", "calendar", text)
    text = re.sub(r"ios", "operating system", text)
    text = re.sub(r"gps", "GPS", text)
    text = re.sub(r"gst", "GST", text)
    text = re.sub(r"programing", "programming", text)
    text = re.sub(r"bestfriend", "best friend", text)
    text = re.sub(r"dna", "DNA", text)
    text = re.sub(r"III", "3", text) 
    text = re.sub(r"the US", "America", text)
    text = re.sub(r"Astrology", "astrology", text)
    text = re.sub(r"Method", "method", text)
    text = re.sub(r"Find", "find", text) 
    text = re.sub(r"banglore", "Banglore", text)
    text = re.sub(r" J K ", " JK ", text)
    
    # Remove punctuation from text
    text = ''.join([c for c in text if c not in punctuation])
    
    # Optionally, remove stop words
    '''
    if remove_stop_words:
        text = text.split()
        text = [w for w in text if not w in stopwords]
        text = " ".join(text)
     '''
    # Optionally, shorten words to their stems
    '''
    if stem_words:
        text = text.split()
        stemmer = SnowballStemmer('english')
        stemmed_words = [stemmer.stem(word) for word in text]
        text = " ".join(stemmed_words)
   '''  
    # Return a list of words
    return(text)

In [ ]:
#function to read files
def read_first_line(file):
     with open(file, 'rt') as fd: #read text
        first_line = fd.readline()
        return first_line

In [ ]:
#------------------tokenization and stop word 
dict={'Doc1':[],'Doc2':[],'Doc3':[],'Doc4':[],'Doc5':[],'Doc6':[],'Doc7':[],'Doc8':[],'Doc9':[],'Doc10':[]}
xlist=[]
base_path =os.listdir("C://Users//20100//Documents//project_ir/New folder/")
for file in base_path:
    if file.endswith('.txt'):
        file_text_reader=read_first_line(file) 
        cleaned=text_to_wordlist(file_text_reader) 
        text_tokens=word_tokenize(cleaned)
        tokens_without_sw = [word for word in text_tokens if not word in stopwords.words()]
        xlist.append(tokens_without_sw)
        
        #print(tokens_without_sw) 
        
            
#dict 
#xlist 
#for x in xlist:
dict['Doc1']=xlist[0]
dict['Doc2']=xlist[1]
dict['Doc3']=xlist[2]
dict['Doc4']=xlist[3]
dict['Doc5']=xlist[4]
dict['Doc6']=xlist[5]
dict['Doc7']=xlist[6]
dict['Doc8']=xlist[7]
dict['Doc9']=xlist[8]
dict['Doc10']=xlist[9]
#dict
#dict['Doc1']
#xlist
for key ,value in dict.items(): 
    print(key, ":", value)

In [ ]:
#Constructing Auxiliary structure(s)
uniqueWordsPerDoc = []
numWordPerDoc = []
totalWords = 0
for document in xlist:
    num = len(document)
    totalWords += num
    numWordPerDoc.append(num)
    list_set  = set(document)
    uniqueWordsPerDoc += (list(list_set))

In [ ]:
#Creat unique Words in all Documents
list_set  = set(uniqueWordsPerDoc)
uniqueWords = (list(list_set))

print("total number Of word is: ",totalWords)
print("Number of unique Words is: ",len(uniqueWords))

In [ ]:
words = {}
for word in uniqueWords:
    words[word] = {}
    docNum = 0
    for document in xlist:
        if word in document:
            index_pos_list = [ i for i in range(len(document)) if document[i] == word ]
            words[word][docNum] = index_pos_list
        docNum += 1
words

In [ ]:
from nltk.tokenize import regexp_tokenize
def phrase_query(query):
    queryList = regexp_tokenize(query, "[\w']+")
    documentList = []
    flag = 0
    # get Posting List for  evry Word 
    for word in queryList:
        try:
            documentList.append(list(words[word].keys()))
        except:
            return -1
        
    # get intersection Documents between words
    intersectDocs = documentList[0]
    for i in range(1,len(documentList)):
        intersectDocs =  list( set(intersectDocs).intersection(documentList[i]) )
        flag = 1
    
     
    if flag == 1:
        # Validate indexing
        query_intersection = {}
        query_Notintersection = {}
        for Docnum in intersectDocs:
            indexsList = []
            for word in queryList :
                indexsList.append(words[word][Docnum] )
            for i in range(1,len(indexsList)): # change range(1,len(intersectIndex)) with k 
                indexsList[i] = list(np.asarray(indexsList[i]) - i)
                
            # get intersection Index between Words 
            intersectIndexs = indexsList[0]
            for i in range(1,len(indexsList)):
                intersectIndexs = list( set(intersectIndexs).intersection(indexsList[i]) )
                
            # save intersections 
            if len(intersectIndexs) > 0:
                query_intersection[Docnum]=[]
                for i in range(0,len(queryList)): # change range(1,len(queryList)) with k 
                    query_intersection[Docnum].append(list(np.asarray(intersectIndexs)+i))
            else:
                query_Notintersection[Docnum]=[]
                for i in range(0,len(indexsList)): # change range(1,len(queryList)) with k
                    query_Notintersection[Docnum].append(indexsList[i])
        return query_intersection,query_Notintersection
                               
    else:
        return intersectDocs
    
phrase_query("information security ")

In [854]:
#search
term = "saeed"
print("<{} {}".format(term,len(words[term])))
for key, value in words[term].items():
    print('  ',key, ' : ', value)

<saeed 1
   1  :  [2]

In [855]:
import math
Cleaned_tokenized_documentList=xlist[:3]
documentListTill3 = Cleaned_tokenized_documentList[:3]
len(documentListTill3)

3

In [856]:
#term frequency 
def tf(term,document):
    i=0
    for word in document:
        if word == term:
            i+=1
    return i

In [857]:

def creat_tfMatrix(uniqueWords, docNum):
    Tf_Idf_Matrix = pd.DataFrame( columns = ['term', 'tf'])
    for term in uniqueWords:
        new_row = {'term':term,'tf':tf(term,documentListTill3[docNum])}
        Tf_Idf_Matrix = Tf_Idf_Matrix.append(new_row, ignore_index=True)
    return Tf_Idf_Matrix

In [858]:
# create Unique Words 
uniqueWords = []
for doc in documentListTill3:
    uniqueWords += list(set(doc))
uniqueWords = list(set(uniqueWords))
len(uniqueWords)

9

In [859]:
# First Document 
Tf_Idf_Matrix1 = creat_tfMatrix(uniqueWords, 0)
Tf_Idf_Matrix1 #term frequency for document 1

         term tf
0        post  0
1      system  0
2       times  1
3       saeed  0
4         new  1
5        york  1
6       acess  0
7         jop  0
8  hypermedia  0

In [860]:

# Second Document 
Tf_Idf_Matrix2 = creat_tfMatrix(uniqueWords, 1)
Tf_Idf_Matrix2 #term frequency for document 2

         term tf
0        post  0
1      system  2
2       times  0
3       saeed  1
4         new  0
5        york  0
6       acess  1
7         jop  1
8  hypermedia  1

In [861]:
# third Document 
Tf_Idf_Matrix3 = creat_tfMatrix(uniqueWords, 2) 
Tf_Idf_Matrix3  #term frequency for document 3

         term tf
0        post  1
1      system  0
2       times  0
3       saeed  0
4         new  1
5        york  1
6       acess  0
7         jop  0
8  hypermedia  0

In [862]:
#---idf 
# Create DF 
def create_df(uniqueWords,documentList):
    df={}
    for term in uniqueWords:
        df[term]=0
        for document in documentList:
            if term in document:
                df[term]+=1
    return df

In [863]:
# Create IDF 
def create_Idf(df, N):
    Idf={}
    for term in uniqueWords:
        Idf[term]=format(math.log10(N/df[term]), '.3f')
    return Idf

In [864]:
df  = create_df(uniqueWords, documentListTill3)
idf = create_Idf(df,3)
idf

{'post': '0.477',
 'system': '0.477',
 'times': '0.477',
 'saeed': '0.477',
 'new': '0.176',
 'york': '0.176',
 'acess': '0.477',
 'jop': '0.477',
 'hypermedia': '0.477'}

In [865]:
# Create TF Weight
def creat_TF_Weight(Tf_Idf_Matrix):
    TF_Weightlist = []
    for tf in Tf_Idf_Matrix.tf.values:
        if tf != 0:
            TF_Weightlist.append(  1+math.log10(tf))
        else:
            TF_Weightlist.append(0)
    return TF_Weightlist

In [866]:
# First Document 
Tf_Idf_Matrix1['tf_weight'] = creat_TF_Weight(Tf_Idf_Matrix1) 
Tf_Idf_Matrix1['tf_weight']

0    0.0
1    0.0
2    1.0
3    0.0
4    1.0
5    1.0
6    0.0
7    0.0
8    0.0
Name: tf_weight, dtype: float64

In [867]:
# Second Document 
Tf_Idf_Matrix2['tf_weight'] = creat_TF_Weight(Tf_Idf_Matrix2)
Tf_Idf_Matrix2['tf_weight']

0    0.00000
1    1.30103
2    0.00000
3    1.00000
4    0.00000
5    0.00000
6    1.00000
7    1.00000
8    1.00000
Name: tf_weight, dtype: float64

In [868]:
# third Document 
Tf_Idf_Matrix3['tf_weight'] = creat_TF_Weight(Tf_Idf_Matrix3)
Tf_Idf_Matrix3['tf_weight']

0    1.0
1    0.0
2    0.0
3    0.0
4    1.0
5    1.0
6    0.0
7    0.0
8    0.0
Name: tf_weight, dtype: float64

In [869]:

Tf_Idf_Matrix2

         term tf  tf_weight
0        post  0    0.00000
1      system  2    1.30103
2       times  0    0.00000
3       saeed  1    1.00000
4         new  0    0.00000
5        york  0    0.00000
6       acess  1    1.00000
7         jop  1    1.00000
8  hypermedia  1    1.00000

In [870]:
# Creat TF-IDF
def creat_TF_IDF(Tf_Idf_Matrix,idf):
    TF_IDFlist = []
    TF_Weight = list(Tf_Idf_Matrix.tf_weight.values)
    IDF = list(idf.values())
    for i in range(len(IDF)):
        TF_IDFlist.append(TF_Weight[i]*float(IDF[i]))
    return TF_IDFlist

In [871]:
# First Document 
Tf_Idf_Matrix1['tf_idf'] = creat_TF_IDF(Tf_Idf_Matrix1,idf)
Tf_Idf_Matrix1['tf_idf']

0    0.000
1    0.000
2    0.477
3    0.000
4    0.176
5    0.176
6    0.000
7    0.000
8    0.000
Name: tf_idf, dtype: float64

In [872]:
# Second Document
Tf_Idf_Matrix2['tf_idf'] = creat_TF_IDF(Tf_Idf_Matrix2,idf)
Tf_Idf_Matrix2['tf_idf']

0    0.000000
1    0.620591
2    0.000000
3    0.477000
4    0.000000
5    0.000000
6    0.477000
7    0.477000
8    0.477000
Name: tf_idf, dtype: float64

In [873]:
# third Document 
Tf_Idf_Matrix3['tf_idf'] = creat_TF_IDF(Tf_Idf_Matrix3,idf)
Tf_Idf_Matrix3['tf_idf']

0    0.477
1    0.000
2    0.000
3    0.000
4    0.176
5    0.176
6    0.000
7    0.000
8    0.000
Name: tf_idf, dtype: float64

In [874]:
Tf_Idf_Matrix2

         term tf  tf_weight    tf_idf
0        post  0    0.00000  0.000000
1      system  2    1.30103  0.620591
2       times  0    0.00000  0.000000
3       saeed  1    1.00000  0.477000
4         new  0    0.00000  0.000000
5        york  0    0.00000  0.000000
6       acess  1    1.00000  0.477000
7         jop  1    1.00000  0.477000
8  hypermedia  1    1.00000  0.477000

In [875]:
# Create Length
def creat_length(Tf_Idf_Matrix):
    tf_idfSquare = 0
    for tf_idf in Tf_Idf_Matrix.tf_idf.values:
        tf_idfSquare += (tf_idf*tf_idf)
    return math.sqrt(tf_idfSquare)

In [876]:
# First Document 
lengthD1 = creat_length(Tf_Idf_Matrix1) 
lengthD1

0.5380343855182492

In [877]:
# Second Document
lengthD2 = creat_length(Tf_Idf_Matrix2)
lengthD2

1.1380903178045236

In [878]:
# third Document 
lengthD3 = creat_length(Tf_Idf_Matrix3)
lengthD3

0.5380343855182492

In [879]:
# Create normalize
def creat_normalize(Tf_Idf_Matrix,length):
    normalizelist = []
    for tf_idf in Tf_Idf_Matrix.tf_idf.values:
        normalizelist.append(tf_idf/length)
    return normalizelist

In [880]:
# First Document 
Tf_Idf_Matrix1['normalize'] = creat_normalize(Tf_Idf_Matrix1,lengthD1); 
Tf_Idf_Matrix1['normalize']

0    0.000000
1    0.000000
2    0.886560
3    0.000000
4    0.327117
5    0.327117
6    0.000000
7    0.000000
8    0.000000
Name: normalize, dtype: float64

In [881]:
# Second Document
Tf_Idf_Matrix2['normalize'] = creat_normalize(Tf_Idf_Matrix2,lengthD2); 
Tf_Idf_Matrix2['normalize']

0    0.000000
1    0.545292
2    0.000000
3    0.419123
4    0.000000
5    0.000000
6    0.419123
7    0.419123
8    0.419123
Name: normalize, dtype: float64

In [882]:
# third Document 
Tf_Idf_Matrix3['normalize'] = creat_normalize(Tf_Idf_Matrix3,lengthD3)
Tf_Idf_Matrix3['normalize']

0    0.886560
1    0.000000
2    0.000000
3    0.000000
4    0.327117
5    0.327117
6    0.000000
7    0.000000
8    0.000000
Name: normalize, dtype: float64

In [883]:
Tf_Idf_Matrix2

         term tf  tf_weight    tf_idf  normalize
0        post  0    0.00000  0.000000   0.000000
1      system  2    1.30103  0.620591   0.545292
2       times  0    0.00000  0.000000   0.000000
3       saeed  1    1.00000  0.477000   0.419123
4         new  0    0.00000  0.000000   0.000000
5        york  0    0.00000  0.000000   0.000000
6       acess  1    1.00000  0.477000   0.419123
7         jop  1    1.00000  0.477000   0.419123
8  hypermedia  1    1.00000  0.477000   0.419123

In [884]:
# Create Tf Idf Matrix for  the query
def create_TFIDFMatrixQuery(query,documentListTill3):
    queryList = regexp_tokenize(query, "[\w']+")
    documentListTill3.append(queryList)
    # Create TF Matrix 
    queryTf_Idf_Matrix = creat_tfMatrix(uniqueWords, 3)
    # Create TF Weight
    queryTf_Idf_Matrix['tf_weight'] = creat_TF_Weight(queryTf_Idf_Matrix)
    # Create TF-IDF
    queryTf_Idf_Matrix['tf_idf'] = creat_TF_IDF(queryTf_Idf_Matrix,idf);
    # Create Length
    querylengthD = creat_length(queryTf_Idf_Matrix)
    # Create normalize
    queryTf_Idf_Matrix['normalize'] = creat_normalize(queryTf_Idf_Matrix,querylengthD)
    documentListTill3 = documentListTill3[:-1]
    return queryTf_Idf_Matrix

In [885]:

queryTf_Idf_Matrix = create_TFIDFMatrixQuery("new times",documentListTill3)

In [886]:
queryTf_Idf_Matrix

         term tf  tf_weight  tf_idf  normalize
0        post  0        0.0   0.000   0.000000
1      system  0        0.0   0.000   0.000000
2       times  1        1.0   0.477   0.938175
3       saeed  0        0.0   0.000   0.000000
4         new  1        1.0   0.176   0.346161
5        york  0        0.0   0.000   0.000000
6       acess  0        0.0   0.000   0.000000
7         jop  0        0.0   0.000   0.000000
8  hypermedia  0        0.0   0.000   0.000000

In [887]:
# Calculate Similarity
def similarity(queryTf_Idf_Matrix,documentTf_Idf_Matrix):
    querynormalize    = list(queryTf_Idf_Matrix['normalize'].values)
    documentnormalize = list(documentTf_Idf_Matrix['normalize'].values)
    result = 0
    for i in range(len(querynormalize)):
        result += querynormalize[i]*documentnormalize[i]
    return result

In [888]:
print( "query similarity With Document1 is: ",similarity(queryTf_Idf_Matrix,Tf_Idf_Matrix1) )
print( "query similarity With Document2 is: ",similarity(queryTf_Idf_Matrix,Tf_Idf_Matrix2) )
print( "query similarity With Document3 is: ",similarity(queryTf_Idf_Matrix,Tf_Idf_Matrix3) )

query similarity With Document1 is:  0.944983970401432
query similarity With Document2 is:  0.0
query similarity With Document3 is:  0.11323503787994335